BUILD = True
OPTIMISE = True
REDUCE_SIZE = True
COPY_ASSETS = True
CONSOLE = False

PYTHON_VERSION = 3.8
BUILD_PROVIDER = 'nuitka' # nuitka(safest), PyInstaller
PYTHON_POINTER = 'py'

LINUX_SETUP_SH = 'build.make.linux.ubuntu.sh'
PYTHON_PIP_CONFIG = 'build.setup.all.config'
OPTIMISE_SIZE_LIST = 'build.optimise.size.all.config'
OPTIMISE_TAR_LIST = 'build.optimise.tar.win32.config'

RUNTIME_FILE = 'boot.py'
TARGET_MAIN_FILE = 'mainUI.py'
C_COMPILER = 'mingw64' # msvc=MSVC, clang, mingw64(safest)

BUILD_ARGS = [
    '--experimental=use_pefile', 'standalone',
    C_COMPILER, 'plugin-enable=tk-inter', 'show-progress',
    'remove-output'
] if BUILD_PROVIDER == 'nuitka' else [
    'noconsole', 'onedir', 'noupx',
    'strip', 'noconfirm', 'clean', 'name "Circuitizer"'
]
